.emojidiv {
  text-align: center;
  margin: 10px;
}

.emoji {
  height: 42px;
  width: 42px;
  margin: 5px;
}

.unclicked {
  opacity: 0.3;
}

.fabdiv {
    position: relative;
}

.fab {
  position: absolute;
  left: 5px;
  top: 6px;
}

.labelHolder {
  position: fixed;
}
