
 /* hide numeric input increase/decrease-buttons */
 input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.capitalize {
    text-transform: capitalize;
  }


  h1 {
    font-family: 'Open Sans';
  }
  h2 {
    font-family: 'Open Sans';
  }
  h3 {
    font-family: 'Open Sans';
  }
  h4 {
    font-family: 'Open Sans';
  }
  h5 {
    font-family: 'Open Sans';
  }
  button {
    font-family: 'Open Sans';
  }