.welcomediv {
    position: relative;
    z-index: 400;
    display: flex;
    margin: 200px 20px;
    height: 80%;
}

.welcomedivframe {
    display: flex;
    justify-content: center;
    align-items: center; 
    z-index: 350;
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color: white;
}

.carouselwrapper {
    margin: 20px;
}